@model IEnumerable<Library.Models.BorrowingEntryModel>

@{
    ViewData["Title"] = "Knygų išdavimo istorija";
}


<h1>Knygų išdavimo istorija</h1>

<a class="btn btn-secondary btn-sml" asp-action="BookBorrowingListFilter">Filtruoti...</a>
<br>
<input class="form-control" aria-label="Search" type="text" id="searchQuery" placeholder="Paieška" />
<table class="table" id="bookBorrowingTable">
    <thead>
        <tr>
            <th>
                Knyga
            </th>
            <th>
                Paėmimo data
            </th>
            <th>
                Mokinio Info
            </th>
            <th>
                Gražinimo data
            </th>
            <th>
                Komentaras
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenBorrowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
                @Html.DisplayFor(modelItem => item.User.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenReturned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
        </tr>
}
    </tbody>
</table>
@if(ViewData["id"] != null)
{
    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@ViewData["id"]">Atgal</a>
}
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchQuery').on('input', function () {
                var searchQuery = $(this).val().toLowerCase();
                filterItems(searchQuery);
            });

            function filterItems(searchQuery) {
                $('#bookBorrowingTable tbody tr').each(function () {
                    //select every field except last one that is used by buttons
                    var fieldText = $(this).find('td').text().toLowerCase();
                    if (fieldText.includes(searchQuery)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
}
