@model IEnumerable<Library.Models.BookModel>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Biblioteka";
}

<h1>Margaritos Biblioteka</h1>

@if ((await AuthorizationService.AuthorizeAsync(User, "IsLibrarian")).Succeeded)
{
<p>
    <a class="btn btn-success" asp-action="Create">Nauja knyga</a>
</p>
}

<input class="form-control" aria-label="Search" type="text" id="searchQuery" placeholder="Paieška" />

<table class="table" id="bookTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InventoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Rodyti</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchQuery').on('input', function () {
                var searchQuery = $(this).val().toLowerCase();
                filterItems(searchQuery);
            });

            function filterItems(searchQuery) {
                $('#bookTable tbody tr').each(function () {
                    //select every field except last one that is used by buttons
                    var fieldText = $(this).find('td:not(:last-child)').text().toLowerCase();
                    if (fieldText.includes(searchQuery)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
}
