@model List<BookGrouping>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Biblioteka";
}

<style>
    .toggle-button-column {
        width: 120px; /* Adjust the width as needed */
    }
    .toggle-icon {
        display: inline-block;
        width: 45px;
        text-align: center;
        cursor: pointer;
    }
</style>

<h1>Margaritos Biblioteka</h1>

@if ((await AuthorizationService.AuthorizeAsync(User, "IsLibrarian")).Succeeded)
{
<p>
    <a class="btn btn-success" asp-action="Create">Nauja knyga</a>
    <a class="btn btn-success" asp-action="ImportFromExcel">Importuoti iš Excel failo...</a>
</p>
}

<form asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Paieška" name="SearchString" value="@ViewData["CurrentFilter"]" />
        <div class="input-group-append">
            <input type="submit" value="Ieškoti" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>

<table class="table" id="bookTable">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSort"]">@Html.DisplayNameFor(b => b[0].Title)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSort"]">@Html.DisplayNameFor(b => b[0].BookAuthor)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["YearSort"]">@Html.DisplayNameFor(b => b[0].ReleaseDate)</a>
            </th>
            <th>
                Inventoriaus ID
            </th>
            <th>
                Būsena
            </th>
            <th class="toggle-button-column"></th>
        </tr>
    </thead>
@foreach (var group in Model) {
        <tbody class="group">
            <tr class="group-row">
                <td>
                    <b>@group.Title (@group.Models.Count)</b>
                </td>
                <td>
                    <b>@group.BookAuthor</b>
                </td>
                <td>
                    <b>@group.ReleaseDate</b>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <i class="toggle-icon" data-feather="chevron-right"></i>
                </td>
            </tr>
            @foreach(var item in group.Models)
            {
            <tr class="group-entry-row">
                <td>@item.Title</td>
                <td>@item.BookAuthor</td>
                <td>@item.ReleaseDate</td>
                <td>@item.InventoryID</td>
                <td>@item.Status</td>
                <td>
                    <a class="btn btn-success btn-sm" asp-action="Details" asp-route-Id="@item?.Id">Rodyti</a>
                </td>
            </tr>
        }
        </tbody>
}
</table>


@section scripts {

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>
        <script>
        $(document).ready(function () {
            $('.group-entry-row').hide(); // Hide all group entries by default
            
            $(document).on('click', '.toggle-icon', function () {
                var $groupRow = $(this).closest('.group-row');
                var $groupEntries = $groupRow.nextUntil('.group-row');
                var $toggleIcon = $(this);
                
                $groupEntries.toggle();
                
                if ($toggleIcon.hasClass('feather-chevron-right')) {
                    $toggleIcon.replaceWith(feather.icons['chevron-down'].toSvg({
                        class: 'toggle-icon'
                    }));
                } else {
                    $toggleIcon.replaceWith(feather.icons['chevron-right'].toSvg({
                        class: 'toggle-icon'
                    }));
                }
                
            });
            
        });
    </script>
}
