@model List<BookGrouping>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Biblioteka";
}

<style>
    .toggle-button-column {
        width: 120px; /* Adjust the width as needed */
    }
    .toggle-icon {
        display: inline-block;
        width: 45px;
        text-align: center;
        cursor: pointer;
    }
</style>

<h1>Margaritos Biblioteka</h1>

@if ((await AuthorizationService.AuthorizeAsync(User, "IsLibrarian")).Succeeded)
{
<p>
    <a class="btn btn-success" asp-action="Create">Nauja knyga</a>
    <a class="btn btn-success" asp-action="ImportFromExcel">Importuoti iš Excel failo...</a>
</p>
}

<input class="form-control" aria-label="Search" type="text" id="searchQuery" placeholder="Paieška" />

<table class="table" id="bookTable">
    <thead>
        <tr>
            <th>
                Pavadinimas
            </th>
            <th>
                Autorius
            </th>
            <th>
                Metai
            </th>
            <th>
                Inventoriaus ID
            </th>
            <th>
                Būsena
            </th>
            <th class="toggle-button-column"></th>
        </tr>
    </thead>
@foreach (var group in Model) {
        <tbody class="group">
            <tr class="group-row">
                <td>
                    <b>@group.Title (@group.Models.Count)</b>
                </td>
                <td>
                    <b>@group.BookAuthor</b>
                </td>
                <td>
                    <b>@group.ReleaseDate</b>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <i class="toggle-icon" data-feather="chevron-right"></i>
                </td>
            </tr>
            @foreach(var item in group.Models)
            {
            <tr class="group-entry-row">
                <td>@item.Title</td>
                <td>@item.BookAuthor</td>
                <td>@item.ReleaseDate</td>
                <td>@item.InventoryID</td>
                <td>@item.Status</td>
                <td>
                    <a class="btn btn-success btn-sm" asp-action="Details" asp-route-Id="@item?.Id">Rodyti</a>
                </td>
            </tr>
        }
        </tbody>
}
</table>


@section scripts {

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
        feather.replace()
    </script>
    <script>
        $(document).ready(function () {
            var $groups = $('.group');
            var $groupRows = $('.group-row');
            var $groupEntryRows = $('.group-entry-row');
            var $memberCells = $groupEntryRows.find('td');
            
            $('#searchQuery').on('input', function () {
                var searchTerm = $(this).val().trim().toLowerCase();
                
                if (searchTerm.length === 0) {
                    $groups.show();
                    //$groupRows.show();
                } else {
                    $groups.hide();
                    //$groupRows.hide();
                    
                    $memberCells.each(function () {
                        var $memberCell = $(this);
                        var memberText = $memberCell.text().toLowerCase();
                        var $groupBody = $memberCell.closest('.group');

                        if (memberText.includes(searchTerm)) {
                            $groupBody.show();
                        }
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.group-entry-row').hide(); // Hide all group entries by default
            
            $(document).on('click', '.toggle-icon', function () {
                var $groupRow = $(this).closest('.group-row');
                var $groupEntries = $groupRow.nextUntil('.group-row');
                var $toggleIcon = $(this);
                
                $groupEntries.toggle();
                
                if ($toggleIcon.hasClass('feather-chevron-right')) {
                    $toggleIcon.replaceWith(feather.icons['chevron-down'].toSvg({
                        class: 'toggle-icon'
                    }));
                } else {
                    $toggleIcon.replaceWith(feather.icons['chevron-right'].toSvg({
                        class: 'toggle-icon'
                    }));
                }
                
            });
            
        });
    </script>
}
