@model Library.Data.ApplicationUser

@{
    ViewData["Title"] = "Keisti vartotoją";
}


<h4>Vartotojo keitimas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNum" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group" class="control-label"></label>
                <select asp-for="Group.Id" asp-items="@(new SelectList(ViewBag?.Groups, "Id", "Name"))" class="form-control">
                    @if(Model.Group?.Id != null)
                    {
                        <option value="@Model.Group?.Id">@Model.Group?.Name</option>
                    }
                    <option value="-1">-</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Rolė</label>
                <select name="RoleValue" class="form-control">
                    @if(ViewBag.RoleValue == "User")
                    {
                        <option value="User">@ViewBag.RoleValue</option>
                        <option value="Librarian">Librarian</option>
                    }
                    else if(ViewBag.RoleValue == "Librarian")
                    {
                        <option value="Librarian">@ViewBag.RoleValue</option>
                        <option value="User">User</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Saugoti" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Atgal</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
