@model List<Library.Models.UserManagementViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@ViewData["ReturnUrl"]" >Naujas Mokinys</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].User.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].User.Group)
            </th>
            <th>
                Rolė
            </th>
            <th>
                Pasirinkimai
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleValue)
            </td>
            <td>
                @if(item.User.TempPassword != "")
                {
                    <a class="btn btn-success" asp-action="GenerateLoginDetails" asp-route-id="@item.User.Id">Generuoti Prisijungimą</a>
                }
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.User.Id">Keisti</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.User.Id">Trinti</a>
            </td>
        </tr>
}
    </tbody>
</table>
