@model List<Library.Models.UserManagementViewModel>

@{
    ViewData["Title"] = "Vartotojai";
}

<h1>Vartotojų sąrašas</h1>

<p>
<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register" >Naujas Mokinys</a>
</p>
<input class="form-control" aria-label="Search" type="text" id="searchQuery" placeholder="Paieška" />

<table class="table" id="userTable">
    <thead>
        <tr>
            <th>
                Vartotojo Vardas
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].User.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].User.PhoneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].User.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].RoleValue)
            </th>
            <th>
                Pasirinkimai
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleValue)
            </td>
            <td>
                @if(item.User.TempPassword != null)
                {
                    <a class="btn btn-success btn-sm" asp-action="GenerateLoginDetails" asp-route-id="@item.User.Id">Generuoti Prisijungimą</a>
                }
                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.User.Id">Keisti</a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.User.Id">Trinti</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchQuery').on('input', function () {
                var searchQuery = $(this).val().toLowerCase();
                filterItems(searchQuery);
            });

            function filterItems(searchQuery) {
                $('#userTable tbody tr').each(function () {
                    var fieldText = $(this).find('td:not(:last-child)').text().toLowerCase();
                    if (fieldText.includes(searchQuery)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
}
