@model Library.Models.GroupModel

@{
    ViewData["Title"] = "Vartotojų pridėjimas";
}


<h4>Priskirti vartotojus grupei</h4>
<input class="form-control" aria-label="Search" type="text" id="searchQuery" placeholder="Paieška" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUser" method="post">
            <div class="text-danger"></div>
            <input for="id" value="@Model.Id" hidden/>
            <div class="form-group">
                <div class="checkbox-list">
                    <table class="table" id="addToGroupTable">
                        <thead>
                            <tr>
                                <th>Pilnas Vardas</th>
                                <th>Grupė</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in ViewBag.UserList)
                            {
                            <div class="checkbox">
                                <tr>
                                    <td>
                                        <label>
                                            <input type="checkbox" name="selectedUsers" value="@user.Id" @(Model.Members.Contains(user) ? "checked" : "") />
                                            @user.FullName
                                        </label>
                                    </td>
                                    <td>
                                        @user.Group?.Name
                                    </td>
                                </tr>
                            </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Atnaujinti" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@Model?.Id">Atgal</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchQuery').on('input', function () {
                var searchQuery = $(this).val().toLowerCase();
                filterItems(searchQuery);
            });

            function filterItems(searchQuery) {
                $('#addToGroupTable tbody tr').each(function () {
                    var fieldText = $(this).find('td').text().toLowerCase();
                    if (fieldText.includes(searchQuery)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
}
