@model IEnumerable<Library.Models.GroupModel>

@{
    ViewData["Title"] = "Grupės";
}

<h1>Grupių sąrašas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Kurti grupę</a>
</p>
<input class="form-control" aria-label="Search" type="text" id="searchQuery" placeholder="Paieška" />
<table class="table" id="groupTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupTeacherName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupTeacherName)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Rodyti</a> 
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Keisti</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Trinti</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchQuery').on('input', function () {
                var searchQuery = $(this).val().toLowerCase();
                filterItems(searchQuery);
            });

            function filterItems(searchQuery) {
                $('#groupTable tbody tr').each(function () {
                    //select every field except last one that is used by buttons
                    var fieldText = $(this).find('td:not(:last-child)').text().toLowerCase();
                    if (fieldText.includes(searchQuery)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        });
    </script>
}
